.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 0px 0px 8px var(--color2);
  place-items: center;
  min-height: 70vh;
  background-color: var(--color6);
  row-gap: 0;
  padding: 10px;;
}

input {
  color: var(--color5);
}

.optionSelect {
  color: var(--color5);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-items: center;
  padding-right: 10px;
}