ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navItem {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  /* text-decoration: none!important; */
}

.navItem:hover {
  background-color: #111111;
}