.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px var(--color2);
  background-color: var(--color4);
  margin: 12px 0px;
  flex-wrap: wrap;
  max-width: 27%;
  min-height: 27%;
  max-height: 27%;
  padding: 4px 0px 0px 0px;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  margin-left: 10px;
}

.image {
  grid-area: 1 / 3 / 4 / 6;
  min-width: 100%;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.typeArea {
  grid-area: 1 / 1 / 2 / 3;
  padding-left: 10px;
  justify-items: center;
}

.pokeName {
  font-size: 20;
  font-weight: 600;
  grid-area: 4 / 1 / 5 / 6;
  background-color: var(--color3);
  align-self: end; 
  margin-bottom: 0;
}

.colorText {
  font-size: 14;
  margin: 8px 0 0 0;
  grid-area: 2 / 1 / 4 / 3;
  padding-left: 10px;
}

.type {
  /* background-color: var(--color1); */
  text-align: center;
  border-radius: 3px;
  min-width: 40%;
  padding: 5px;
}

/* CLASSNAMES FOR SWITCHING BACKGROUND COLOR */
.grass {
  background-color: var(--grass);
  box-shadow: 0px 0px 8px var(--grass2);
}

.normal {
  background-color: var(--normal);
  box-shadow: 0px 0px 8px var(--normal2);
}

.fire {
  background-color: var(--fire);
  box-shadow: 0px 0px 8px var(--fire2);
}

.fighting {
  background-color: var(--fighting);
  box-shadow: 0px 0px 8px var(--fighting2);
}

.water {
  background-color: var(--water);
  box-shadow: 0px 0px 8px var(--water2);
}

.flying {
  background-color: var(--flying);
  box-shadow: 0px 0px 8px var(--flying2);
}

.poison {
  background-color: var(--poison);
  box-shadow: 0px 0px 8px var(--poison2);
}

.electric {
  background-color: var(--electric);
  box-shadow: 0px 0px 8px var(--electric2);
}

.ground {
  background-color: var(--ground);
  box-shadow: 0px 0px 8px var(--ground2);
}

.psychic {
  background-color: var(--psychic);
  box-shadow: 0px 0px 8px var(--psychic2);
}

.rock {
  background-color: var(--rock);
  box-shadow: 0px 0px 8px var(--rock2);
}

.ice {
  background-color: var(--ice);
  box-shadow: 0px 0px 8px var(--ice);
}

.bug {
  background-color: var(--bug);
  box-shadow: 0px 0px 8px var(--bug2);
}

.dragon {
  background-color: var(--dragon);
  box-shadow: 0px 0px 8px var(--dragon2);
}

.ghost {
  background-color: var(--ghost);
  box-shadow: 0px 0px 8px var(--ghost2);
}

.dark {
  background-color: var(--dark);
  box-shadow: 0px 0px 8px var(--dark2);
}

.steel {
  background-color: var(--steel);
  box-shadow: 0px 0px 8px var(--steel2);
}

.fairy {
  background-color: var(--fairy);
  box-shadow: 0px 0px 8px var(--fairy2);
}